<!DOCTYPE html>

<title>Edit MyTest</title>

{% block body %}
    <h1>Edit MyTest</h1>

    {{ include('my_test/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('my_test_index') }}">back to list</a>

    {{ include('my_test/_delete_form.html.twig') }}
{% endblock %}
