<!DOCTYPE html>

<title>MyTest index</title>

{% block body %}
    <h1>MyTest index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for my_test in my_tests %}
            <tr>
                <td>{{ my_test.id }}</td>
                <td>
                    <a href="{{ path('my_test_show', {'id': my_test.id}) }}">show</a>
                    <a href="{{ path('my_test_edit', {'id': my_test.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('my_test_new') }}">Create new</a>
{% endblock %}
