<!DOCTYPE html>

<title>New MyTest</title>

{% block body %}
    <h1>Create new MyTest</h1>

    {{ include('my_test/_form.html.twig') }}

    <a href="{{ path('my_test_index') }}">back to list</a>
{% endblock %}
