<!DOCTYPE html>

<title>MyTest</title>

{% block body %}
    <h1>MyTest</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ my_test.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('my_test_index') }}">back to list</a>

    <a href="{{ path('my_test_edit', {'id': my_test.id}) }}">edit</a>

    {{ include('my_test/_delete_form.html.twig') }}
{% endblock %}
